In [1]:
from sklearn import tree
import pandas as pd
import os

In [2]:
df = pd.read_csv('2016-17_teamBoxScore_outcome_col_added.csv')
df.head()

,gmDate,gmTime,seasTyp,offLNm1,offFNm1,offLNm2,offFNm2,offLNm3,offFNm3,teamAbbr,...,opptEDiff,opptPlay%,opptAR,opptAST/TO,opptSTL/TO,poss,pace,teamFTF,opptFTF,outcome
0,10/25/2016,8:00,Regular,Lane,Karl,Adams,Bennie,Kennedy,Bill,NY,...,28.8922,0.4592,20.8951,2.0667,80.0000,100.3729,100.3729,0.229885,0.202128,0
1,10/25/2016,8:00,Regular,Lane,Karl,Adams,Bennie,Kennedy,Bill,CLE,...,-28.8922,0.3478,12.9969,0.9444,33.3333,100.3729,99.9564,0.202128,0.229885,1
2,10/25/2016,10:00,Regular,Buchert,Nick,Callahan,Mike,Brown,Tony,UTA,...,9.7257,0.4699,18.3824,1.6923,38.4615,92.5380,92.1540,0.195122,0.293333,0
3,10/25/2016,10:00,Regular,Buchert,Nick,Callahan,Mike,Brown,Tony,POR,...,-9.7257,0.4444,15.5687,1.3571,64.2857,92.5380,92.9252,0.293333,0.195122,1
4,10/25/2016,10:30,Regular,Maddox,Tre,Fraher,Pat,Crawford,Dan,SA,...,-29.3592,0.4301,18.0560,1.5000,68.7500,98.7765,98.7765,0.265306,0.211765,1

In [3]:
target = df["outcome"]
target_names = ["loss", "win"]

In [4]:
df1 = df[['teamEFG%','opptEFG%', 'teamTO%', 'opptTO%', 'teamOREB%', 'teamDREB%', 'teamFTF', 'opptFTF', 'outcome']]
df1.head()

,teamEFG%,opptEFG%,teamTO%,opptTO%,teamOREB%,teamDREB%,teamFTF,opptFTF,outcome
0,0.4195,0.5479,15.8172,12.7812,24.5283,72.5000,0.229885,0.202128,0
1,0.5479,0.4195,12.7812,15.8172,27.5000,75.4717,0.202128,0.229885,1
2,0.5366,0.6067,13.5870,13.3088,17.1429,83.3333,0.195122,0.293333,0
3,0.6067,0.5366,13.3088,13.5870,16.6667,82.8571,0.293333,0.195122,1
4,0.5408,0.5118,11.3415,14.6897,43.7500,80.9524,0.265306,0.211765,1

In [5]:
data = df1.drop("outcome", axis=1)
feature_names = data.columns
data.head()

,teamEFG%,opptEFG%,teamTO%,opptTO%,teamOREB%,teamDREB%,teamFTF,opptFTF
0,0.4195,0.5479,15.8172,12.7812,24.5283,72.5000,0.229885,0.202128
1,0.5479,0.4195,12.7812,15.8172,27.5000,75.4717,0.202128,0.229885
2,0.5366,0.6067,13.5870,13.3088,17.1429,83.3333,0.195122,0.293333
3,0.6067,0.5366,13.3088,13.5870,16.6667,82.8571,0.293333,0.195122
4,0.5408,0.5118,11.3415,14.6897,43.7500,80.9524,0.265306,0.211765

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [7]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.7934959349593496

In [10]:
# try with n_estimators=200

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.8894308943089431

In [11]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.2811785186731735, 'opptEFG%'),
 (0.2743169714305054, 'teamEFG%'),
 (0.08547871614783821, 'teamTO%'),
 (0.08316533773375703, 'opptTO%'),
 (0.07375918431523028, 'opptFTF'),
 (0.06881557639838609, 'teamOREB%'),
 (0.06665869078794558, 'teamFTF'),
 (0.06662700451316436, 'teamDREB%')]

In [12]:
# try with n_estimators=500

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=500)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.8829268292682927

In [13]:
# try with n_estimators=1000

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=1000)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.8926829268292683